language: node_js
node_js:
  - "6"
  - "7"
  - "8"
  - "9"
env:
  - COVERALLS_REPO_TOKEN=vNV8IQ0jJAuWGikebCeIHJryRulP6aEHa 
script:
  - npm run lint
  - npm test
  - npm run coveralls
after_success: 'npm run coveralls'